<div id='container'>
  <!-- Your html here -->
  <div class='info'>
    <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
    <div class='title'>{{title}}</div>
    <div class='origin'>{{url}}</div>
    <a href="{{baseUrl}}/{{code}}">{{baseUrl}}/{{code}}</a>
  </div>
</div>


<!-- 
<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
 -->